*{
	margin : 0;
	padding:0;
}

* div{
	position:relative;
	float:left;
}

span{
	font-family: 'Times New Roman';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

a, a:visited {
	color:#FF6100;
	text-decoration: none;
}

body {
	max-width:1800px;
}

textarea {
	height:100%;
}

#home,#stadium,#away{
	height:120px;
	border : 1px solid black;
	text-align:center;
	vertical-align:center;
}
#stadium{
	width:242px;
}
#home,#away{
	width:332px;
}
#logoHome{
	float:left;
}

#logoAway, .right, #buttons select{
	float:right;
}

#buttons{
	position:fixed;
	left:912px;
}

#homeTeam, #awayTeam{
	width:157px;
	height:390px; 
	border:1px solid black;
	font-size: 14px;
}

#numgrid{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

#phrases{
	position: absolute;
	top: 516px;
	bottom: 6px;
	min-height:250px;
}

#phrasesLinks div{
	width:92px;
	background:#DDD;
	border:1px solid black;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align:center;
	cursor:pointer;
}

.score{
	font-size:30px;
	font-weight:bold;
}

.player{
	position:relative;
	width:100%;
	height:47px;
	border:1px solid gray;
}

.substitute{
	background:#DDD;
}


.bars{
	position:absolute;
	bottom:6px;
	left:4px;
}

.substitute .bars{
	display:none;
}

.bar{
	position:relative;
	width:100px;
	height:6px;
	border:1px solid black;
}

.life{
	background-color:red;
}

.form{
	background-color:lightgray;
}

.lifeFiller{
	background-color:green;
	height:6px;
}

.formFiller{
	background-color:cyan;
	height:6px;
}

.number{
	border:1px solid black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:2px;
	min-width:14px;
	text-align:center;
	margin-right:5px;
}

.wounded, .dead, .redCard, .initiative{
	position:absolute;
	right:26px;
	bottom:3px;
	width:18px;
	height:18px;
	z-index:1;
	background-size:18px 18px;
}

.redCard{
	background-color:red;
	width:9px;
	height:15px;
}

.wounded {
	background-image:url('img/wounded.jpg');
}

.dead {
	background-image:url('img/dead.png');
}

.hidden{
	display:none;
}

.loader{
	background:white url('img/loader.gif') center center no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	display:none;
	z-index:100;
	opacity:0.7;
}

#phrasesLinks > div{
	height:16px;
}